/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: 'Nunito Sans', sans-serif;
 }

nav ul a,
nav .brand-logo {
  color: #13293d;
}

nav .brand-logo {
  font-family: 'Satisfy', cursive;
}
nav .nav-wrapper {
        padding: 0 50px;
     }

.button-collapse {
  color: #13293d;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
  }
.section-intro{
  height: 100%;
  width: 100%;
}

.header {
  margin-top: 15%;
}

.header-subtitle {
  margin-top: 10%;
  font-size: 1.3em;
  color: #13293d;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .nav-wrapper {
      padding: 0 10px;
    }
}

.col-servizi {
  margin-top: 60px;
  margin-bottom: 100px;
}

.registrazione-icon 
    {font-size: 7em;
     margin-top: 60px;
     color: #13293d;
    }
.registrazione-subtitle
    {margin-top: 30px}

.btn-registrazione {
  width: 100%;
  margin-bottom: 60px;
}

.registrati-icon 
    {font-size: 7em;
     margin-top: 60px;
     color: #13293d;
    }
.registrati-subtitle
    {margin-top: 30px;
      line-height: 2em;}

      .btn-registrati {
  width: 100%;
  margin-bottom: 60px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
#servizi h5 {
  font-size: 1.3em;
  line-height: 1.6em;
}


footer.page-footer {
  margin: 0;
  background-color: #006494;
}

.social-icon {
  font-size:2.5em;
  padding:0 20px;
  color: #ffff;
}
.social-icon:hover {
  color:#13293d;
}